:root{
    --white-color: white;
    --black-color: black;
    --background-color: #1c1a1a;
    --side-nav-background-color: #e9ecef;
    --text-color: #dee2e6;
    --btn-text-color: #fff;
    --btn-background-color: #be2c2c;
    --section2-text-wrapper-color: #e9ecef;
}

*::selection{
    background-color: var(--text-color);
    color: var(--background-color);
}

*{
    font-family: Cormorant Garamond;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
    list-style-type: none;
}

section{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    overflow-y: hidden;
}

.section-content{
    padding-top: 350px;
    height: fit-content;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--text-color);
}

.section-content .heading{
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-content .heading .letters{
    display: flex;
}

.section-content .line{
    width: 0;
    opacity: 0;
    border: 1px solid white;
}

.intro{
    font-style: italic;
    color: black;
    font-size: 6vw;
    overflow: hidden;
}

.block{
    position: fixed;
    width: 100%;
    height: 50vh;
    z-index: 5;
    background: var(--white-color);
}

.block-top{
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.block-top-text{
    opacity: 0;
}

.block-bottom{
    bottom: 0%;
    display: flex;
    justify-content: center;
}

.block-bottom-text{
    opacity: 0;
}

.lines{
    position: fixed;
    z-index: 6;
}

.vertical-line1{
    height: 0vh;
    border: 1px solid var(--black-color);
    top: 25%;
    left: 25%;
    display: none;
}

.vertical-line2{
    height: 0vh;
    border: 1px solid var(--black-color);
    bottom: 25%;
    right: 25%;
    display: none;
}

.horizontal-line1{
    border: 1px solid var(--black-color);
    top: 65%;
    width: 0vw;
    left: 25%;
    display: none;
}

.horizontal-line2{
    border: 1px solid var(--black-color);
    bottom: 65%;
    width: 0vw;
    right: 25%;
    display: none;
}

.center-line{
    border: 1px solid var(--black-color);
    width: 0vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.side-nav{
    font-style: italic;
    /* background: #e5e5e5; */
    background-color: var(--side-nav-background-color);
    width: 5rem;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 5rem 0 5rem;
    position: fixed;
    top: 0;
    z-index: 4;
}


.side-nav a{
    color: black;
    cursor: pointer;
}

.side-nav .logo{
    font-size: .9rem;
}

.side-nav .logo h1 sup{
    padding-left: .2rem;
    font-size: 1rem;
}

.side-nav .latest{
    width: 10rem;
    font-size: 1.2rem;
    font-weight: 1000;
    transform: rotate(-90deg) translateX(30%);
}

.side-nav .border-right{
    position: absolute;
    bottom: 0;
    left: 5rem;
    height: 0vh;
    border: 1px solid var(--white-color);
}

/* section1 start */

#section1 .section-content{
    padding-top: 155px;
}

#section1 .top-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 0rem 2rem;
}

#section1 .top-nav .nav-list{
    display: flex;
    margin-left: 20vw;
}

#section1 .top-nav .nav-list li{
    padding: 0 1rem;
}

#section1 .top-nav .nav-list li a{
    font-size: 2rem;
    color: var(--white-color);
    padding: 1rem 2rem;
    font-weight: 1000;
}

#section1 .top-nav .border-bottom{
    position: absolute;
    width: 0vw;
    border: 1px solid var(--white-color);
    right: 0;
    top: 7.4rem;
}

#section1{
    position: relative;
    z-index: 3;
    font-size: 9vw;
    line-height: 23vh;
    letter-spacing: -11.9px;
}

#section1 .text-wrapper .h1-wrapper{
    position: relative;
}

#section1 .text-wrapper .h1-wrapper:nth-child(1){
    width: 55%;
}

#section1 .text-wrapper .h1-wrapper:nth-child(2){
    width: 105%;
}

#section1 .text-wrapper .h1-wrapper:nth-child(3){
    width: 105%;
}

#section1 .text-wrapper .h1-wrapper h1{
    opacity: 1;
}

#section1 .text-wrapper .h1-wrapper span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 120%;
    background: white;
}


#section1 .text-wrapper .h1-wrapper h1 .jumping-letters{
    display: inline-block;
    margin-right: -35px;
    text-shadow: -30px 10px 10px rgba(0,0,0,.3),0 20px 50px rgba(0,0,0,.3);
    will-change: text-shadow,transform;
}

#section1 .text-wrapper .h1-wrapper h1 .space{
    margin-right: 13px;
}

#section1 .text-wrapper .h1-wrapper h1 .jumping-letters.jump{
    animation: jump 1.5s 1 alternate forwards cubic-bezier(.175,.885,.32,1.275)
}

/* section1 end */

/* section2 start */

#section2{
    position: relative;
    z-index: 1;
    height: fit-content;
}

#section2 .section-content{
    flex-direction: column;
    height: 120vh;
}

#section2 .section-content .text-wrapper{
    margin-top: 12rem;
    font-size: 2vw;
    position: relative;
    left: 31%;
    width: 65%;
    font-style: italic;
    color: var(--section2-text-wrapper-color);
}

#section2 .section-content .text-wrapper::before{
    content: "“";
    color: #2527298a;
    z-index: -1;
    font-size: 400px;
    position: absolute;
    transform: translate(-69%, -37%);
}

#section2 .section-content .text-wrapper::after{
    content: "”";
    position: absolute;
    font-size: 400px;
    color: #2527298a;
    z-index: -1;
    transform: translate(366%, -28%);
}

/* section2 end */

/* section3 start */

#section3 .section-content{
    padding-top: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section3 .section-content .btn{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 80px 0 80px;
    padding: 24px 60px;
    background-color: var(--btn-background-color);
    color: var(--text-color);
}

#section3 .section-content .projects{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#section3 .section-content .col{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

#section3 .section-content .projects .project-item{
    /* border: 1px solid white; */
    margin-top: 30rem;
    width: 100%;
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: .4s;
}

#section3 .section-content .projects .project-item:hover{
    transform: scale(1.03);
}

#section3 .section-content .projects .project-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

#section3 .section-content .col .project-item a{
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

#section3 .section-content .col .project-item a .project-info p{
    background: var(--section2-text-wrapper-color);
    color: black;
    position: relative;
    text-align: center;
    z-index: 2;
    border-radius: 200px;
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 12px 40px;
    font-size: 20px;
    font-weight: 800;
}

#section3 .section-content .col .project-item a .project-info p:nth-child(2){
    margin-bottom: 30px;
}

#section3 .section-content .col .project-item a .project-info p:nth-child(1),
#section3 .section-content .col .project-item a .project-info p:nth-child(2){
    opacity: 0;
    transition: .4s;
}

#section3 .section-content .col .project-item a .project-info p:nth-child(2){
    transition-delay: .1s !important;
}

#section3 .section-content .col .project-item:hover a .project-info p:nth-child(1),
#section3 .section-content .col .project-item:hover a .project-info p:nth-child(2){
    opacity: 1;
    transform: translateY(40%);
}


#section3 .section-content .right-col .project-item:nth-child(1){
    margin-top: 12rem;
}

#section3 .section-content .left-col .project-item:nth-child(1){
    margin-top: 39.5rem;
}

/* section3 cursor */

#section3 .project-cursor{
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 20rem;
    pointer-events: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

#section3 .project-cursor>div{
    transform: translate(-23.5px, -27px);
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity cubic-bezier(0.19, 1, 0.22, 1) .4s;
}

#section3 .project-cursor>div.visible{
    opacity: 1;
}

#section3 .project-cursor .top{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: .7vw;
}

#section3 .top .circle{
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
}

#section3 .top .capsule{
    padding: .7rem 3rem;
    border-radius: 100px;
    background-color: white;
}

#section3 .project-cursor .bottom{
    width: 100%;
    position: relative;
}

#section3 .bottom img{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    border-radius: 10px;
}

@keyframes an{
    0% {
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    21%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    41%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    61%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    81%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

/* section3 end */














/* keyframes */

@keyframes text_reveal{
    100%{
        opacity: 1;
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

@keyframes jump {
    0%,to {
        transform: matrix(1,0,0,1,0,0)
    }

    25%,75% {
        text-shadow: -5px 2px 2px rgba(0,0,0,.3),0 5px 12px rgba(0,0,0,.3);
        transform: matrix(1.1,0,0,.8,0,0)
    }

    50% {
        transform: matrix(.8,0,0,1.2,0,0) translateY(-10px);
        text-shadow: -40px 20px 20px rgba(0,0,0,.3),0 40px 100px rgba(0,0,0,.3)
    }
}

/* keyframes */